@font-face {
    font-family: "Axiforma";
    src: url("/assets/fonts/Axiforma-Light.eot");
    src: url("/assets/fonts/Axiforma-Light.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/Axiforma-Light.woff") format("woff"),
        url("/assets/fonts/Axiforma-Light.svg#Axiforma") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Axiforma";
    src: url("/assets/fonts/Axiforma-Regular.eot");
    src: url("/assets/fonts/Axiforma-Regular.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/Axiforma-Regular.woff") format("woff"),
        url("/assets/fonts/Axiforma-Regular.svg#Axiforma") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Axiforma";
    src: url("/assets/fonts/Axiforma-Medium.eot");
    src: url("/assets/fonts/Axiforma-Medium.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/Axiforma-Medium.woff") format("woff"),
        url("/assets/fonts/Axiforma-Medium.svg#Axiforma") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Axiforma";
    src: url("/assets/fonts/Axiforma-SemiBold.eot");
    src: url("/assets/fonts/Axiforma-SemiBold.eot?#iefix")
            format("embedded-opentype"),
        url("/assets/fonts/Axiforma-SemiBold.woff") format("woff"),
        url("/assets/fonts/Axiforma-SemiBold.svg#Axiforma") format("svg");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Axiforma";
    src: url("/assets/fonts/Axiforma-Bold.eot");
    src: url("/assets/fonts/Axiforma-Bold.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/Axiforma-Bold.woff") format("woff"),
        url("/assets/fonts/Axiforma-Bold.svg#Axiforma") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Axiforma";
    src: url("/assets/fonts/Axiforma-Black.eot");
    src: url("/assets/fonts/Axiforma-Black.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/Axiforma-Black.woff") format("woff"),
        url("/assets/fonts/Axiforma-Black.svg#Axiforma") format("svg");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Axiforma";
    src: url("/assets/fonts/Axiforma-ExtraBold.eot");
    src: url("/assets/fonts/Axiforma-ExtraBold.eot?#iefix")
            format("embedded-opentype"),
        url("/assets/fonts/Axiforma-ExtraBold.woff") format("woff"),
        url("/assets/fonts/Axiforma-ExtraBold.svg#Axiforma") format("svg");
    font-weight: 900;
    font-style: normal;
}
