.admin-tabs {
    .nav-tabs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style-type: none;
        margin-bottom: 1rem;
        border-bottom: 1px solid $gray-border;
        @include media-767{
            flex-direction: column;
            text-align: center;
        }
        .nav-item {
            @include media-767{
                margin-bottom: 1rem;
            }
            a {
                display: block;
                color: $gray1;
                font-size: 16px;
                padding: 0.7rem 1.5rem;
                text-transform: uppercase;
                font-weight: 600;
                &.active {
                    color: $primary;
                    border-bottom: 2px solid $primary;
                }
            }
        }
    }
    .tab-content {
        padding: 18px;
        @include media-767{
            padding: 0px;
        }
        .tab-pane {
            .tab-content-wrapper {
                max-width: 660px;
                &.tab-content-full{
                    max-width: 100%;
                }
                .form-group {
                    width: 100%;
                    .form-control,
                    .form-select,
                    .btn {
                        width: 100%;
                    }
                }
            }
        }
    }
    &.switch-tabs {
        .nav-tabs {
            display: flex;
            justify-content: flex-end;
            border-bottom: none;
            @include media-767{
                justify-content: center;
            }
            .nav-item {
                a {
                    padding: 0.5rem 1rem;
                    background-color: $gray4;
                    text-transform: capitalize;
                    font-weight: 400;
                    border: 2px solid $gray-border;
                    &.active {
                        border: 2px solid $primary;
                    }
                }
            }
        }
        .tab-content {
            padding: 0px;
            .tab-pane {
                width: 100%;
                .entries {
                    margin-top: -58px;
                    margin-bottom: 22px;
                    @include media-767{
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

.image-container {
    position: relative;
    max-width: 144px;
    .image {
        width: 100%;
        object-fit: cover;
        height: 144px;
        border-radius: 5px;
    }
    .middle {
        transition: 0.5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;
        border-radius: 5px;
        em {
            color: $primary;
        }
    }
    &:hover {
        .middle {
            opacity: 0.8;
            em {
                color: $primary;
                font-size: 28px;
            }
        }
    }
}
